@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(239 68 68);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(243, 53, 53);
}
